<div class=innerbannerwrap>
    <div class=innerbanner><h2 class=bannerHeadline>về <span>chúng tôi</span></h2></div>
</div>
<section class="matchSchedule countryclub">
    <div class=container>
        <div class=row>
            <h2 class="heading small">Lời <span>chào</span></h2>

            <p class=headParagraph>
                Chào mừng đến với trang web của chúng tôi! Nơi bạn có thể tìm thấy mọi thứ mình cần cho niềm đam mê bóng đá. Từ quần áo, phụ kiện chất lượng cao đến việc dễ dàng kết nối với những người cùng sở thích và đặt sân bóng. Hãy cùng chúng tôi xây dựng một cộng đồng bóng đá sôi động!<br />
                Chúng tôi tự hào là nơi hội tụ của những người yêu bóng đá. Tại đây, bạn không chỉ tìm thấy những sản phẩm tốt nhất mà còn có cơ hội giao lưu, kết bạn và cùng nhau tạo nên những trận cầu đỉnh cao. Hãy tham gia cộng đồng của chúng tôi ngay hôm nay!
            </p>
        </div>
    </div>
</section>
<section class=players>
    <div class=container>
        <div class=row>
            <h2 class=heading>ban <span>điều hành</span></h2>

            <p class=headParagraph>
                Đội ngũ ban điều hành của chúng tôi là những người có chung niềm đam mê và tâm huyết với bóng đá. Chúng tôi cam kết mang đến cho cộng đồng những sản phẩm và dịch vụ tốt nhất, đồng thời không ngừng nỗ lực để phát triển một sân chơi bóng đá lành mạnh và chuyên nghiệp.
            </p>

            <div class="wrapplayer clearfix">
                <a class="prv prev-player"></a> <a class="nxt next-player"></a>
                <ul class="boardmember clearfix">
                  
                    <li class=clearfix>
                        <div>
                            <div>
                                <div class=fig01>
                                    <div class=memberimg
                                         style="background:url(images/boardMember/Duong.jpg) no-repeat top center"></div>
                                </div>
                                <div class="bg-black01 fig02">
                                    <h6 class=paragraph02>Lã Tùng Dương</h6>

                                    <p class="uppercaseheading red">CTO</p>

                                    <p>
                                        Giám đốc Công nghệ Lã Tùng Dương là người đứng sau sự vận hành trơn tru và hiệu quả của nền tảng. Với kiến thức chuyên sâu về công nghệ và khả năng quản lý hệ thống, chúng tôi đảm bảo rằng website luôn ổn định, bảo mật và dễ sử dụng. CTO không ngừng nghiên cứu và ứng dụng các giải pháp công nghệ tiên tiến nhất để nâng cao trải nghiệm người dùng, từ việc đặt sân trực tuyến đến mua sắm sản phẩm và kết nối cộng đồng.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <div class=fig01>
                                    <div class=memberimg
                                         style="background:url(images/boardMember/Vu.jpg) no-repeat top center"></div>
                                </div>
                                <div class="bg-black01 fig02">
                                    <h6 class=paragraph02>Lương Quang Vũ</h6>

                                    <p class="uppercaseheading red">CBO</p>

                                    <p>
                                        Với vai trò Giám đốc Kinh doanh Lương Quang Vũ, tôi tập trung vào việc xây dựng và phát triển các mối quan hệ đối tác chiến lược với các chủ sân bóng và câu lạc bộ. Mục tiêu của tôi là mở rộng mạng lưới hợp tác, tạo ra các gói dịch vụ hấp dẫn và mang lại giá trị tối đa cho cả đối tác và người dùng. Tôi luôn nỗ lực để tạo ra một môi trường kinh doanh năng động và hiệu quả, thúc đẩy sự phát triển của cộng đồng bóng đá.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <div class=fig01>
                                    <div class=memberimg
                                         style="background:url(images/boardMember/Nam.jpg) no-repeat top center"></div>
                                </div>
                                <div class="bg-black01 fig02">
                                    <h6 class=paragraph02>Nguyễn Viết Nam</h6>

                                    <p class="uppercaseheading red">CCO/CXO</p>

                                    <p>
                                        Với vai trò Giám đốc Kinh doanh/Giám đốc trải nghiệm khách hàng Nguyễn Viết Nam, chúng tôi tập trung vào việc phát triển các mối quan hệ hợp tác chiến lược với chủ sân và các câu lạc bộ, đồng thời đảm bảo trải nghiệm tuyệt vời cho mọi khách hàng. CBO/CXO chịu trách nhiệm mở rộng mạng lưới đối tác, tạo ra các gói dịch vụ hấp dẫn và xây dựng một cộng đồng người dùng trung thành. Mục tiêu của chúng tôi là tạo ra giá trị bền vững cho cả đối tác và khách hàng của Soccer Club.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li >
                        <div>
                            <div>
                                <div class=fig01>
                                    <div class=memberimg
                                         style="background:url(images/boardMember/phuong-anh.jpg) no-repeat top center"></div>
                                </div>
                                <div class="bg-black01 fig02">
                                    <h6 class=paragraph02>Đặng Phương Anh</h6>

                                    <p class="uppercaseheading red">CEO</p>

                                    <p>
                                        Với tầm nhìn chiến lược và khả năng lãnh đạo xuất sắc, CEO Đặng Phương Anh định hướng sự phát triển của chúng tôi trở thành nền tảng hàng đầu kết nối các câu lạc bộ bóng đá với hệ thống sân bãi chất lượng và cung cấp các sản phẩm thể thao chuyên nghiệp. chúng tôi dẫn dắt đội ngũ không ngừng đổi mới, mang đến trải nghiệm tốt nhất cho người dùng và xây dựng một cộng đồng bóng đá vững mạnh. Mục tiêu của CEO là tạo ra một hệ sinh thái toàn diện, nơi mọi nhu cầu liên quan đến bóng đá đều được đáp ứng một cách hiệu quả và tiện lợi.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <div class=fig01>
                                    <div class=memberimg
                                         style="background:url(images/boardMember/ngoc.jpg) no-repeat top center"></div>
                                </div>
                                <div class="bg-black01 fig02">
                                    <h6 class=paragraph02>Tô Hồng Ngọc</h6>

                                    <p class="uppercaseheading red">CMO</p>

                                    <p>
                                        Giám đốc Marketing Tô Hồng Ngọc chịu trách nhiệm xây dựng và triển khai các chiến lược truyền thông mạnh mẽ, đưa Soccer Club đến gần hơn với cộng đồng yêu bóng đá. Với sự sáng tạo và am hiểu thị trường, chúng tôi tạo ra những chiến dịch marketing hấp dẫn, thu hút cả câu lạc bộ, chủ sân và người hâm mộ. Mục tiêu của CMO là xây dựng một thương hiệu uy tín, lan tỏa niềm đam mê bóng đá và thúc đẩy sự tương tác sôi nổi trên nền tảng.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>